<%= form_with model: @user, local: true do |f| %>
  
  <%= render "shared/error", obj: @user %>
  
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title,class:"title-form" %></td>
    </tr>

    <tr>
      <th><%= f.label :start ,"開始日" %></th>
      <td><%= f.date_field :start %></td>
    </tr>

    <tr>
      <th><%= f.label :end ,"終了日" %></th>
      <td><%= f.date_field :end %></td>
    </tr>

    <tr>
      <th><%= f.label :allday ,"終日" %></th>
      <td class = "check_box"><%= f.check_box :allday, :as => :boolean %>
      <p>終日の場合はチェックを入れます</p>
      </td>
    </tr>

    <tr>
      <th><%= f.label :memo ,"メモ" %></th>
      <td><%= f.text_area :memo,class:"memo-form" %></td>
    </tr>
  </table>

  <div>
    <ul class ="redirects">
      <li><%= f.submit "編集を完了する" %></li>
      <li><%= link_to "スケジュール一覧に戻る", :users %></li>
    </ul>
  </div>
<% end %>